.btn {
  &,
  &:link,
  &:visited {
    position: relative;
    display: inline-block;
    padding: 1.5rem 4rem;
    text-transform: uppercase;
    text-decoration: none;
    font-size: $default-font-size;
    border-radius: 10rem;
    transition: all .2s;
    // Change for the <button> element
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 1.5rem rgba($color-black, .2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-0.1rem);
    box-shadow: 0 .5rem .5rem rgba($color-black, .2);
  }

  &--white {
    background: $color-white;
    color: $color-gray-dark;

    &::after {
      background: $color-white;
    }
  }

  &--green {
    background: $color-primary;
    color: $color-white;

    &::after {
      background: $color-primary;
    }
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    transition: all .4s;
  }

  &--animated {
    animation: moveInBottom .5s .75s ease-out backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    display: inline-block;
    font-size: $default-font-size;
    color: $color-primary;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    transition: all .2s;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, .15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 .5rem 1rem rgba($color-black, .15);
    transform: translateY(0);
  }
}
