.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2500;
  background-color: rgba($color-black, .8);
  opacity: 0;
  visibility: hidden;
  transition: all .5s;


  @supports (-webkit-backdpor-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    -webkit-backdpor-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba($color-black, .3);
  }

  &__content {
    @include absCenter;
    width: 75%;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    backface-visibility: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(.5);
    transition: all .4s .2s;

    @include respond(tab-land) {
      display: block;
    }
  }

  &__left {
    width: 33.333333%;
    display: table-cell;

    @include respond(tab-land) {
      display: flex;
      width: 100%;
    }

    &__img-container {
      width: 100%;
      overflow: hidden;

      @include respond(tab-land) {
        width: 50%;
        overflow: hidden;
      }
    }
  }

  &__right {
    width: 66.6666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;

    @include respond(tab-land) {
      display: block;
      width: 100%;
      text-align: center;
    }
  }

  &__img {
    width: 100%;
    transform: scale(1.5);

    @include respond(tab-land) {
      transform: scale(1.2);
    }
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid $color-gray-light-2;

    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-gray-light-2;

    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

    @include respond(tab-land) {
      text-align: left;
    }

    @include respond(phone) {
      -moz-column-count: 1;
      column-count: 1;
    }
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      color: $color-gray-dark;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all .2s;
      line-height: 1;
    }

    &:hover {
      color: $color-primary;
    }
  }
}
